.menu__list {
    display: flex;
    justify-content: end;
    float: right;
    width: 100%;
    gap: 1em;
    padding-right: 2em;
    align-items: center;
    list-style: none !important;
}

.menu__list>li:hover{
    cursor: pointer;
    color: #61dafb;
}