a {
    text-decoration: none;
    color: white;
}
.menu__list {
    display: flex;
    width: 100%;
    gap: 1em;
    padding-top: 5px;
    padding-left: 2em;
    align-items: center;
    list-style: none !important;
}

.menu__list > li {
    color: white;
}

.menu__list>li>a:hover{
    cursor: pointer;
    color: #61dafb;
}